@import 'reset';
@import 'fontface';

$page-width: 970px;

$spacing: 10px;
$small-spacing: $spacing * 0.5;
$medium-spacing: $spacing * 1.5;
$big-spacing: $spacing * 2;

$font-color: #222;
$background-color: #f8f8f8;
$border-color: #e7e7e7;

.navigation {
  height: 40px;
  background-color: $background-color;
  border: 0 solid $border-color;
  border-bottom-width: 1px;
  margin-bottom: $medium-spacing;
  padding: 0 $spacing;

  .navigation-bar {
    width: $page-width;
    margin: 0 auto;
  }

  .brand, .links {
    line-height: 30px;
  }

  .current-username, .logout-link, .brand {
    color: #777;
    margin: 5px;
    display: inline-block;
  }

  .links {
    float: right;
  }
}

.repositories-page, .login-page, .repository-page {
  width: $page-width;
  margin: 0 auto;
}

.repository:hover {
  text-decoration: underline;
  cursor: pointer;
}


.heading, .sub-heading {
  margin-bottom: $spacing;
}


.login-form {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 15px;

  width: 600px;
  margin: 0 auto;

  label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
  }

  input {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
  }

  .buttons {
    text-align: right;
  }

  button {
    color: #333;
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    background: #fff none;
    border: 1px solid #ccc;
    border-radius: 4px;

  }

  button:hover {
    background-color: #e6e6e6;
    border-color: #adadad;
    cursor: pointer;
  }
}

.release-board {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;

  .sub-heading {
    text-align: center;
  }

  .release {
    width: 250px;
    border: 1px solid $border-color;
    border-radius: 4px;
    padding: $medium-spacing;
    margin-bottom: $medium-spacing;

    .name {
      display: block;
      margin: (-$medium-spacing) (-$medium-spacing) 0 (-$medium-spacing);
      padding: $medium-spacing;

      background-color: $background-color;
      text-decoration: none;
      border-bottom: 1px solid $border-color;
      font-size: 1.1rem;
    }

    .name, .name:hover {
      color: $font-color;
    }

    .details {
      margin-top: $medium-spacing;
      margin-bottom: -$small-spacing;

      .tag, .created-on {
        margin-bottom: $small-spacing;
      }
    }
  }
}
